@import "susy"

$total-columns  : 8
$column-width   : 5em
$gutter-width   : .125em
$grid-padding   : $gutter-width

$break          : 12

@include border-box-sizing

.container
  @include container($total-columns, $break)
  transition: all, 100ms, linear

.quarter
  +span-columns(8,8)
  +at-breakpoint($break)
    @include span-columns(2,8)

.three-quarters
  +span-columns(8,8)
  +at-breakpoint($break)
    @include span-columns(6,8)

.half
  @include span-columns(4,8)

.omega
  @include omega
