$grid-columns  : 8
$column        : 5em
$gutter        : .125em
$max-width     : 61.625em

// $visual-grid       : true
// $visual-grid-index : 999
// $visual-grid-color : cyan

@import neat

$breakpoint: new-breakpoint(max-width $max-width)
$breakpoint-width  : 41.125em

.container
  transition: all, 100ms, linear
  +outer-container
  +media($breakpoint)
    max-width: $breakpoint-width

.quarter
  +span-columns(2)

.three-quarters
  +span-columns(6)

.half
  +span-columns(4)

.quarter,
.three-quarters,
.half
  +media($breakpoint)
    +span-columns(8)

.omega
  +omega
  float: right
