@charset "utf-8"

@import "pivotal"


//
// Base styles unclassed HTML elements
//
@import "pivot/_base/main"
@import "pivot/_base/code"
@import "pivot/_base/rules"

//
// Components and Abstractions (Some CSS "Patterns", if you will)
//
@import "pivot/_components/headers"
@import "pivot/_components/sections"
@import "pivot/_components/nav"

//
// Site UI Overrides and what not?
//
@import "ui/layout"
@import "ui/typography"
@import "ui/site-nav"
@import "ui/patterns"

body
  background-color: #EDEDED
  color: $pivotal_dark_grey
  padding-top: 80px
  +pivotal_text
  +pivotal_quotes
  +pivotal_inline_quotes
  +pivotal_source
  +pivotal_lists
  +pivotal_captions
  +pivotal_keyboard
  +pivotal_highlight
  +pivotal_tables
  img
    max-width: 100%
    height: auto

.hero
  background: image-url("pivotallabs.png") no-repeat fixed center
  background-attachment: fixed
  background-size: cover
  height: 450px
  color: white
  overflow: hidden

a
  +pivotal_anchor

.hero
  +pivotal_headers

.awesomeButton
  +pivotal_button
.dangerButton
  +pivotal_button_danger
.dangerButtonLarge
  +pivotal_button_danger
  +pivotal_button--large
.button
  +pivotal_button
.buttonLarge
  +pivotal_button
  +pivotal_button--large
.buttonPrimary
  +pivotal_button_primary
.buttonPrimaryLarge
  +pivotal_button_primary--large

.buttonReverse
  +pivotal_button_reverse

.awesomeButtonLarge
  +pivotal_button_primary--large

.tile
  +pivotal_tile
  min-height: 250px

.featured-tile-blue
  +pivotal_tile_blue

.featured-tile-yellow
  +pivotal_tile_yellow

.featured-tile-red
  +pivotal_tile_red

.featured-header
  +pivotal_sub_header

.rule
  +pivotal_rule_dotted

.tile--bordered
  +pivotal_tile--bordered

.lightGrey
  background-color: #F9F9F9
  border-top: 1px solid #dddddd
  border-bottom: 1px solid #dddddd

.lede
  +pivotal_text-lede

.code
  +pivotal_code

.secondary
  +pivotal_text-secondary

.tertiary
  +pivotal_text-tertiary
