@charset "utf-8";

@import "susy";

$total-columns  : 8;
$column-width   : 5em;
$gutter-width   : .125em;
$grid-padding   : $gutter-width;

$break          : 12;

@include border-box-sizing;

.container {
  @include container($total-columns, $break);
  overflow: auto
  /* @include susy-grid-background; */
}

@include at-breakpoint($break) {
  .container {
    //@include susy-grid-background;
  }
}


.quarter {
  @include span-columns(2,8);
}

.half {
  @include span-columns(4,8);
}

.omega {
  @include omega;
}

@import 'pivotal';

body {
  background-color: $pivotal_light_grey;
  color: $pivotal_dark_grey;
  padding-top: 80px;
}

.siteHead {
  background-color: white;
  overflow: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.siteHead__inner {
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo {
  display: block;
  text-indent: -9999em;
  height: 48px;
  width: 132px;
  background: no-repeat 0 0 image-url("logo_main.png");
}

.hero {
  background: image-url("pivotallabs.png") no-repeat fixed center;
  background-attachment: fixed;
  background-size: cover;
  height: 450px;
  color: white;
}

a {
  @include pivotal_anchor;
}

.hero {
  @include pivotal_headers;
}

.awesomeButton {
  @include pivotal_button_primary;
}

.tile {
  @include pivotal_tile;
  min-height: 250px;
}

.featured-tile-blue {
  @include pivotal_tile_blue;
}

.featured-tile-yellow {
  @include pivotal_tile_yellow;
}

.featured-tile-red {
  @include pivotal_tile_red;
}

.featured-header {
  @include pivotal_sub_header;
}

.rule {
  @include pivotal_rule_dotted;
}
