<div id="branding" class="siteHead">
	<div class="siteHead__inner container">
		<a href="/" class="logo">Pivotal Labs</a>
		<ul class="nav  site-nav">
	        <li class="site-nav__styleguide"><a href="/base/">Base Styles</a></li><!--
	     --><li class="site-nav__patterns"><a href="/patterns/">Patterns</a></li>
		 </ul>  
	</div>
</div>