<h3>Secondary Text</h3>
<p class="secondary">
  Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
</p>
<details class="primer">
  <summary title="Show markup and usage">•••</summary>
  <section class="container">
    <textarea class="input code half" rows="10" cols="50"><p class="secondary">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p></textarea>
    <div class="half omega">
      <p class="secondary">
      <strong>Usage:</strong>
      Content preceding the main body of a page or article, giving the reader the main idea of the following content.
      </p>
      <p class="secondary">
        <strong>Sass Usage:</strong>
        <br>
        <code>@include pivotal_text-secondary</code>
        <br>
        <code>+pivotal_text-secondary</code>
      </p>
    </div>
  </section>
</details>
