---
title: Welcome to Pivot Strap
---

<div class="hero">
  <div class="container">
    <h1>Pivot CSS</h1>
    <h2>A Pivotal CSS Framework</h2>
  </div>
</div>

<section class="section-1">
  <div class="container">
    <div class="response-contain">
      <h3 class="featured-header">Featured Case Studies</h3>
    </div>
    <div class="TileContainer soft-rl">
      <div class="tile quarter">
        <h4 class="foreground--secondary">
          GOSPOTCHECK GRAB
          <span class="BrandForeground--secondary">AND GO RETAIL FIELD RESEARCH</span>
        </h4>
      </div>
      <div class="tile quarter">
        <h4>GoSpotCheck Grab And Go Retail Field Research</h4>
      </div>
      <div class="tile quarter">
        <h4>GoSpotCheck Grab And Go Retail Field Research</h4>
      </div>
      <div class="tile quarter omega">
        <h4>GoSpotCheck Grab And Go Retail Field Research</h4>
        <a href="#">Google</a>
      </div>
    </div>
  </div>
</section>

<section class="section-2 lightGrey">
  <div class="container">
    <div class="response-contain half">
      <div>
        <h3 class="featured-header">Featured Blog Posts</h3>
      </div>
      <div class="tile--bordered">
        <p>Something</p>
      </div>
    </div>
    <div class="response-contain half omega">
      <div>
        <h3 class="featured-header">What’s Going On</h3>
      </div>
      <div class="tile--bordered">
        <p>Hello</p>
      </div>
    </div>
  </div>
</section>

<section class="section-3">
  <div class="container">
    <h1>Buttons, links, labels. Oh my.</h1>
  </div>
</section>

<section class="buttons section-4">
  <div class="container">
    <p>
      <p>
        <button type="button" class="button">Default button</button>
        <button type="button" class="buttonLarge">Default button</button>
        <a href="javascript:;" class="awesomeButton">Link button</a>
      </p>
      <p>
        <button type="button" class="buttonPrimary">Primary button</button>
        <button type="button" class="buttonPrimaryLarge">Primary Large button</button>
      </p>
      <p>
        <button type="button" class="dangerButton">Danger button</button>
        <button type="button" class="dangerButtonLarge">Danger button</button>
      </p>
    </p>
  </div>
</section>

<section class="lightGrey">
  <div class="section-4">
    <div class="container">
      <div class="featured-tile-blue">
        <h1>Oh my, how blue</h1>
      </div>
    </div>
  </div>
  <div class="section-4">
    <div class="container">
      <div class="featured-tile-yellow">
        <h1>Oh my, which baby pooped here?</h1>
      </div>
    </div>
  </div>
  <div class="section-4">
    <div class="container">
      <div class="featured-tile-red">
        <h1>Oh my, how red</h1>
      </div>
    </div>
  </div>
</section>

<section class="section-5">
  <div class="container">
    <div class="response-contain half">
      <div>
        <h3 class="featured-header">Featured Blog Posts</h3>
      </div>
      <div class="tile--bordered">
        <p>Something</p>
      </div>
    </div>
    <div class="response-contain half omega">
      <div>
        <h3 class="featured-header">What’s Going On</h3>
      </div>
      <div class="tile--bordered">
        <p>Hello</p>
      </div>
    </div>
  </div>
</section>
